CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/
bin/
.tau/
imgui.ini
.pkgcache/
**/.DS_Store
include/tau-engine/
.xmake/
.toolchains/

# Blender's backup of the previous save, written next to every .blend
*.blend1
/user/
